body{
  background-color: bisque;
}

h1{
color: #ad1457;
text-align: center;
}

.card {
  width: 50%;
}
.card-content{
  float: auto;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  padding: 5px;
  margin: 5px;
  margin-bottom: 5px;
}